article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
}

a,
img {
  vertical-align: top;
}

a {
  background: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a:active,
a:hover {
  outline: 0 none;
}

:focus {
  outline: 0 none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

abbr,
acronym {
  border: 0 none;
  font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
samp,
tt,
input,
button,
textarea,
select {
  font-size: 100%;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

button {
  overflow: visible;
}

@font-face {
  font-family: 'vipFont';
  src: url("../fonts/vipFont.eot");
  src: url("../fonts/vipFont.eot?#iefix") format('embedded-opentype'), url("../fonts/vipFont.svg#vipFont") format('svg'), url("../fonts/vipFont.woff") format('woff'), url("../fonts/vipFont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  display: inline-block;
  font-family: 'vipFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-16 {
  font-size: 16px;
}

.iconfont-24 {
  font-size: 24px;
}

.iconfont-32 {
  font-size: 32px;
}

.iconfont-error,
.ui-tips-error .iconfont {
  color: #f64a4a;
}

.iconfont-error:before,
.ui-tips-error .iconfont:before {
  content: '\e600';
}

.iconfont-success,
.ui-tips-success .iconfont {
  color: #47b85c;
}

.iconfont-success:before,
.ui-tips-success .iconfont:before {
  content: '\e602';
}

.iconfont-info,
.ui-tips-info .iconfont {
  color: #249fdf;
}

.iconfont-info:before,
.ui-tips-info .iconfont:before {
  content: '\e607';
}

.iconfont-help {
  color: #2689f8;
}

.iconfont-help:before {
  content: '\e605';
}

.iconfont-warning,
.ui-tips-warning .iconfont {
  color: #f9a123;
}

.iconfont-warning:before,
.ui-tips-warning .iconfont:before {
  content: '\e603';
}

.iconfont-tick:before {
  content: '\e601';
}

.iconfont-close:before {
  content: '\e609';
}

.iconfont-card:before {
  content: '\e60a';
}

.iconfont-shopping-bag:before {
  content: '\e604';
}

.iconfont-play:before {
  content: '\e606';
}

.iconfont-heart:before {
  content: '\e608';
}

.iconfont-plus:before {
  content: '\e60b';
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-clearfix:before,
.f-clearfix:after {
  display: table;
  content: ' ';
}

.f-clearfix:after {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 12px/1.5 Helvetica, Arial, sans-serif;
  color: #333;
  min-width: 1000px;
  overflow-x: hidden;
  word-break: break-word;
}

a {
  color: #e8297c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.g-wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.ui-btn-large,
.ui-btn-medium,
.ui-btn-small,
.ui-btn-mini {
  display: inline-block;
  overflow: visible;
  text-align: center;
  border-radius: 3px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-width: 1px;
  border-style: solid;
}

.ui-btn-large:hover,
.ui-btn-medium:hover,
.ui-btn-small:hover,
.ui-btn-mini:hover {
  text-decoration: none;
}

.ui-btn-large {
  min-width: 148px;
  padding: 0 48px;
  font-size: 18px;
  line-height: 40px;
  overflow: hidden;
}

.ui-btn-large.ui-btn-disabled {
  position: relative;
}

.ui-btn-large.ui-btn-disabled .txt {
  display: inline-block;
  -webkit-animation: txtHide 0.8s;
  animation: txtHide 0.8s;
}

.ui-btn-large.ui-btn-disabled .ui-btn-loading {
  display: inline-block;
  -webkit-animation: loadingShow 0.6s;
  animation: loadingShow 0.6s;
}

.ui-btn-medium {
  min-width: 78px;
  padding: 0 18px;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
}

.ui-btn-medium.ui-btn-disabled {
  position: relative;
}

.ui-btn-medium.ui-btn-disabled .txt {
  display: inline-block;
  -webkit-animation: txtHide 0.8s;
  animation: txtHide 0.8s;
}

.ui-btn-medium.ui-btn-disabled .ui-btn-loading,
.ui-ipt-group.z-loading .ui-btn-secondary .ui-btn-loading {
  display: inline-block;
  -webkit-animation: loadingShow 0.6s;
  animation: loadingShow 0.6s;
}

.ui-btn-small {
  min-width: 50px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 21px;
  overflow: hidden;
}

.ui-btn-small.ui-btn-disabled {
  position: relative;
}

.ui-btn-small.ui-btn-disabled .txt {
  display: inline-block;
  -webkit-animation: txtHide 0.8s;
  animation: txtHide 0.8s;
}

.ui-btn-small.ui-btn-disabled .ui-btn-loading {
  display: inline-block;
  -webkit-animation: loadingShow 0.6s;
  animation: loadingShow 0.6s;
}

.ui-btn-mini {
  min-width: 44px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}

.ui-btn-mini.ui-btn-disabled {
  position: relative;
}

.ui-btn-mini.ui-btn-disabled .txt {
  display: inline-block;
  -webkit-animation: txtHide 0.8s;
  animation: txtHide 0.8s;
}

.ui-btn-mini.ui-btn-disabled .ui-btn-loading {
  display: inline-block;
  -webkit-animation: loadingShow 0.6s;
  animation: loadingShow 0.6s;
}

.ui-btn-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #d0d0d0;
}

.ui-btn-loading:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/common/ui-loading-gray.gif") no-repeat;
}

.ui-btn-loading em {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
  .ui-btn-loading:before {
    background-image: url("../img/common/ui-loading-gray@2x.gif");
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}

.ui-btn-primary {
  color: #fff;
  background-color: #f10180;
  border-color: #f10180;
}

.device-pc .ui-btn-primary:hover {
  background-color: #f43499;
  border-color: #f43499;
}

.device-pc .ui-btn-primary:active,
.ui-btn-primary.touch {
  background-color: #d80173;
  border-color: #d80173;
}

.ui-btn-secondary {
  color: #e00078;
  background-color: #fcedf2;
  border-color: #ffbde0;
}

.device-pc .ui-btn-secondary:hover {
  background-color: #fcf5f7;
}

.device-pc .ui-btn-secondary:active,
.ui-btn-secondary.touch {
  background-color: #fcdee8;
}

.ui-btn-default {
  color: #333;
  background-color: #fafafa;
  border-color: #c2c2c2;
}

.device-pc .ui-btn-default:hover {
  background-color: #fff;
}

.device-pc .ui-btn-default:active,
.ui-btn-default.touch {
  background-color: #f0f0f0;
}

.ui-btn-disabled,
.ui-ipt-group.z-loading .ui-btn-secondary,
.ui-ipt-group.z-disabled .ui-btn-secondary {
  color: #9b9b9b;
  cursor: not-allowed;
  -webkit-transition: none;
  transition: none;
}

.ui-btn-disabled,
.ui-ipt-group.z-loading .ui-btn-secondary,
.ui-ipt-group.z-disabled .ui-btn-secondary,
.device-pc .ui-btn-disabled:hover,
.device-pc .ui-ipt-group.z-loading .ui-btn-secondary:hover,
.device-pc .ui-ipt-group.z-disabled .ui-btn-secondary:hover,
.device-pc .ui-btn-disabled:active,
.device-pc .ui-ipt-group.z-loading .ui-btn-secondary:active,
.device-pc .ui-ipt-group.z-disabled .ui-btn-secondary:active,
.ui-btn-disabled.touch,
.ui-ipt-group.z-loading .ui-btn-secondary.touch,
.ui-ipt-group.z-disabled .ui-btn-secondary.touch,
.ui-ipt-group.z-loading .ui-btn-secondary,
.ui-ipt-group.z-disabled .ui-btn-secondary {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

@-webkit-keyframes loadingShow {
  0% {
    -webkit-transform: translate(0, -42px);
    transform: translate(0, -42px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-ms-keyframes loadingShow {
  0% {
    -ms-transform: translate(0, -42px);
    transform: translate(0, -42px);
  }

  100% {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes loadingShow {
  0% {
    -webkit-transform: translate(0, -42px);
    -ms-transform: translate(0, -42px);
    transform: translate(0, -42px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes txtHide {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@-ms-keyframes txtHide {
  0% {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@keyframes txtHide {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

.ui-ipt {
  padding: 6px 8px;
  width: 270px;
  height: 34px;
  color: #999;
  font-size: 14px;
  border: 1px solid #bfbdbf;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px $input-box-shadow;
  box-shadow: inset 0 1px 2px $input-box-shadow;
}

.ui-ipt:hover,
.ui-ipt:focus {
  border-color: #7f7e80;
}

.ui-ipt::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.ui-ipt:-ms-input-placeholder {
  color: #999;
}

.ui-ipt::-webkit-input-placeholder {
  color: #999;
}

.ui-ipt[disabled],
.ui-ipt[readonly],
.ui-ipt-group.z-loading .ui-ipt,
.ui-ipt-group.z-disabled .ui-ipt,
.ui-ipt[disabled]:hover,
.ui-ipt[readonly]:hover,
.ui-ipt-group.z-loading .ui-ipt:hover,
.ui-ipt-group.z-disabled .ui-ipt:hover,
.ui-ipt[disabled]:focus,
.ui-ipt[readonly]:focus,
.ui-ipt-group.z-loading .ui-ipt:focus,
.ui-ipt-group.z-disabled .ui-ipt:focus,
.ui-ipt-group.z-loading .ui-ipt,
.ui-ipt-group.z-disabled .ui-ipt {
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}

.ui-ipt-group {
  position: relative;
  width: 200px;
}

.ui-ipt-group .ui-ipt,
.ui-ipt-group .ui-btn-secondary {
  display: inline-block;
}

.ui-ipt-group .ui-ipt {
  padding: 5px 56px 5px 10px;
  width: 200px;
  height: 30px;
  font-size: 12px;
}

.ui-ipt-group .ui-btn-secondary {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 0;
  min-width: 46px;
  width: 46px;
  min-height: 30px;
  height: 30px;
  border-radius: 0 3px 3px 0;
}

.ui-ipt-group.z-loading .ui-btn-secondary {
  display: inline-block;
}

.ui-ipt-group.z-loading .ui-btn-secondary .ui-btn-loading {
  display: inline-block;
  -webkit-animation: loadingShow 0.6s;
  animation: loadingShow 0.6s;
}

.ui-form-item.z-error .ui-form-control {
  position: relative;
}

.ui-form-item.z-error .ui-ipt {
  border: 1px solid #f1585e;
}

.ui-form-item.z-error .ui-tooltips-warning {
  display: block;
  left: 0;
  width: 270px;
  top: -37px;
}

.ui-form-item.z-error .ui-tooltips-warning.ui-tooltips-arrows-bottom:before,
.ui-form-item.z-error .ui-tooltips-warning.ui-tooltips-arrows-bottom:after {
  left: 18px;
}

.ui-form-item.z-success .ui-form-control {
  position: relative;
}

.ui-form-item.z-success .ui-ipt {
  padding-right: 38px;
}

.ui-form-item.z-success .iconfont {
  position: absolute;
  top: 9px;
  left: 240px;
  color: #49b05c;
}

.ui-like {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 15px;
}

.ui-like .icon {
  display: inline-block;
  background-image: url("../img/framework/bases/sprite.png");
  background-position: 0px -20px;
  width: 16px;
  height: 15px;
}

.ui-like .icon:hover {
  background-position: -21px 0px;
  -webkit-animation: likeHover 5s infinite;
  animation: likeHover 5s infinite;
}

.ui-like .icon:active,
.ui-like.z-liked .icon {
  background-position: 0px 0px;
}

.ui-like.z-liked .icon:hover {
  -webkit-animation: tremble 0.2s infinite;
  animation: tremble 0.2s infinite;
}

.ui-like.z-liked .icon:active {
  background-position: 0px -20px;
}

.ui-like.ani-like-FadeIn .icon {
  -webkit-animation: likeFadeIn 1s !important;
  animation: likeFadeIn 1s !important;
}

.ui-like.ani-like-FadeOut .icon {
  -webkit-animation: likeFadeOut 1s !important;
  animation: likeFadeOut 1s !important;
}

.ui-like .ui-tooltips {
  display: block;
  position: relative;
  left: -50%;
  white-space: nowrap;
}

.ui-like .text {
  display: none;
}

.ui-like:hover .ui-like-tips-wrap,
.ui-like:hover .like {
  display: block;
}

.ui-like.z-active .like {
  display: none;
}

.ui-like.z-active .liked {
  display: block;
}

.ui-like.z-liked:hover .like {
  display: none;
}

.ui-like.z-liked:hover .unliked {
  display: block;
}

.ui-like.z-liked.z-active .liked,
.ui-like.z-liked.z-active .unliked {
  display: none;
}

.ui-like.z-liked.z-active .canceled {
  display: block;
}

.ui-like-tips-wrap {
  position: absolute;
  display: none;
  left: 50%;
  top: 25px;
}

@-webkit-keyframes likeHover {
  25%, 75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-ms-keyframes likeHover {
  25%, 75% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes likeHover {
  25%, 75% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-webkit-keyframes likeFadeIn {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-ms-keyframes likeFadeIn {
  0% {
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes likeFadeIn {
  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes likeFadeOut {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-ms-keyframes likeFadeOut {
  100% {
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes likeFadeOut {
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes tremble {
  25% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  75% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}

@-ms-keyframes tremble {
  25% {
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  75% {
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}

@keyframes tremble {
  25% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  75% {
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}

.ui-tab-trigger {
  cursor: pointer;
}

.ui-tab-bd-cnt {
  display: none;
}

.ui-tab-bd-cnt.z-active {
  display: block;
}

.ui-tips-info,
.ui-tips-warning,
.ui-tips-error,
.ui-tips-success {
  position: relative;
  padding-left: 26px;
  color: #2a2a2a;
}

.ui-tips-info .iconfont,
.ui-tips-warning .iconfont,
.ui-tips-error .iconfont,
.ui-tips-success .iconfont {
  position: absolute;
  top: 1px;
  left: 0;
}

.ui-tooltips,
.ui-tooltips-info,
.ui-tooltips-warning,
.ui-tooltips-error,
.ui-tooltips-success {
  position: relative;
  padding: 6px 15px;
  border-width: 1px;
  border-style: solid;
  word-break: break-word;
}

.ui-tooltips .text,
.ui-tooltips-info .text,
.ui-tooltips-warning .text,
.ui-tooltips-error .text,
.ui-tooltips-success .text {
  position: relative;
  z-index: 2;
}

.ui-tooltips .ui-tips-info,
.ui-tooltips-info .ui-tips-info,
.ui-tooltips-warning .ui-tips-info,
.ui-tooltips-error .ui-tips-info,
.ui-tooltips-success .ui-tips-info,
.ui-tooltips .ui-tips-success,
.ui-tooltips-info .ui-tips-success,
.ui-tooltips-warning .ui-tips-success,
.ui-tooltips-error .ui-tips-success,
.ui-tooltips-success .ui-tips-success,
.ui-tooltips .ui-tips-warning,
.ui-tooltips-info .ui-tips-warning,
.ui-tooltips-warning .ui-tips-warning,
.ui-tooltips-error .ui-tips-warning,
.ui-tooltips-success .ui-tips-warning,
.ui-tooltips .ui-tips-error,
.ui-tooltips-info .ui-tips-error,
.ui-tooltips-warning .ui-tips-error,
.ui-tooltips-error .ui-tips-error,
.ui-tooltips-success .ui-tips-error {
  margin-left: -5px;
}

.ui-tooltips-arrows-top,
.ui-tooltips-info-arrows-top,
.ui-tooltips-warning-arrows-top,
.ui-tooltips-error-arrows-top,
.ui-tooltips-success-arrows-top,
.ui-tooltips-arrows-right,
.ui-tooltips-info-arrows-right,
.ui-tooltips-warning-arrows-right,
.ui-tooltips-error-arrows-right,
.ui-tooltips-success-arrows-right,
.ui-tooltips-arrows-bottom,
.ui-tooltips-info-arrows-bottom,
.ui-tooltips-warning-arrows-bottom,
.ui-tooltips-error-arrows-bottom,
.ui-tooltips-success-arrows-bottom,
.ui-tooltips-arrows-left,
.ui-tooltips-info-arrows-left,
.ui-tooltips-warning-arrows-left,
.ui-tooltips-error-arrows-left,
.ui-tooltips-success-arrows-left {
  display: none;
  position: absolute;
  border-radius: 3px;
}

.ui-tooltips-arrows-top:before,
.ui-tooltips-info-arrows-top:before,
.ui-tooltips-warning-arrows-top:before,
.ui-tooltips-error-arrows-top:before,
.ui-tooltips-success-arrows-top:before,
.ui-tooltips-arrows-right:before,
.ui-tooltips-info-arrows-right:before,
.ui-tooltips-warning-arrows-right:before,
.ui-tooltips-error-arrows-right:before,
.ui-tooltips-success-arrows-right:before,
.ui-tooltips-arrows-bottom:before,
.ui-tooltips-info-arrows-bottom:before,
.ui-tooltips-warning-arrows-bottom:before,
.ui-tooltips-error-arrows-bottom:before,
.ui-tooltips-success-arrows-bottom:before,
.ui-tooltips-arrows-left:before,
.ui-tooltips-info-arrows-left:before,
.ui-tooltips-warning-arrows-left:before,
.ui-tooltips-error-arrows-left:before,
.ui-tooltips-success-arrows-left:before,
.ui-tooltips-arrows-top:after,
.ui-tooltips-info-arrows-top:after,
.ui-tooltips-warning-arrows-top:after,
.ui-tooltips-error-arrows-top:after,
.ui-tooltips-success-arrows-top:after,
.ui-tooltips-arrows-right:after,
.ui-tooltips-info-arrows-right:after,
.ui-tooltips-warning-arrows-right:after,
.ui-tooltips-error-arrows-right:after,
.ui-tooltips-success-arrows-right:after,
.ui-tooltips-arrows-bottom:after,
.ui-tooltips-info-arrows-bottom:after,
.ui-tooltips-warning-arrows-bottom:after,
.ui-tooltips-error-arrows-bottom:after,
.ui-tooltips-success-arrows-bottom:after,
.ui-tooltips-arrows-left:after,
.ui-tooltips-info-arrows-left:after,
.ui-tooltips-warning-arrows-left:after,
.ui-tooltips-error-arrows-left:after,
.ui-tooltips-success-arrows-left:after {
  position: absolute;
  width: 12px;
  height: 12px;
  content: '◆';
  font: normal 12px/12px \5B8B\4F53, 'Hiragino Sans GB';
  z-index: 1;
}

.ui-tooltips-arrows-top:before,
.ui-tooltips-info-arrows-top:before,
.ui-tooltips-warning-arrows-top:before,
.ui-tooltips-error-arrows-top:before,
.ui-tooltips-success-arrows-top:before,
.ui-tooltips-arrows-right:before,
.ui-tooltips-info-arrows-right:before,
.ui-tooltips-warning-arrows-right:before,
.ui-tooltips-error-arrows-right:before,
.ui-tooltips-success-arrows-right:before,
.ui-tooltips-arrows-bottom:before,
.ui-tooltips-info-arrows-bottom:before,
.ui-tooltips-warning-arrows-bottom:before,
.ui-tooltips-error-arrows-bottom:before,
.ui-tooltips-success-arrows-bottom:before,
.ui-tooltips-arrows-left:before,
.ui-tooltips-info-arrows-left:before,
.ui-tooltips-warning-arrows-left:before,
.ui-tooltips-error-arrows-left:before,
.ui-tooltips-success-arrows-left:before {
  z-index: 0;
}

.ui-tooltips.ui-tooltips-arrows-top:before,
.ui-tooltips-info.ui-tooltips-arrows-top:before,
.ui-tooltips-warning.ui-tooltips-arrows-top:before,
.ui-tooltips-error.ui-tooltips-arrows-top:before,
.ui-tooltips-success.ui-tooltips-arrows-top:before,
.ui-tooltips.ui-tooltips-arrows-top:after,
.ui-tooltips-info.ui-tooltips-arrows-top:after,
.ui-tooltips-warning.ui-tooltips-arrows-top:after,
.ui-tooltips-error.ui-tooltips-arrows-top:after,
.ui-tooltips-success.ui-tooltips-arrows-top:after {
  top: -4px;
  left: 50%;
  margin-left: -6px;
}

.ui-tooltips.ui-tooltips-arrows-top:before,
.ui-tooltips-info.ui-tooltips-arrows-top:before,
.ui-tooltips-warning.ui-tooltips-arrows-top:before,
.ui-tooltips-error.ui-tooltips-arrows-top:before,
.ui-tooltips-success.ui-tooltips-arrows-top:before {
  top: -6px;
}

.ui-tooltips.ui-tooltips-arrows-right:before,
.ui-tooltips-info.ui-tooltips-arrows-right:before,
.ui-tooltips-warning.ui-tooltips-arrows-right:before,
.ui-tooltips-error.ui-tooltips-arrows-right:before,
.ui-tooltips-success.ui-tooltips-arrows-right:before,
.ui-tooltips.ui-tooltips-arrows-right:after,
.ui-tooltips-info.ui-tooltips-arrows-right:after,
.ui-tooltips-warning.ui-tooltips-arrows-right:after,
.ui-tooltips-error.ui-tooltips-arrows-right:after,
.ui-tooltips-success.ui-tooltips-arrows-right:after {
  top: 50%;
  right: -5px;
  margin-top: -6px;
}

.ui-tooltips.ui-tooltips-arrows-right:before,
.ui-tooltips-info.ui-tooltips-arrows-right:before,
.ui-tooltips-warning.ui-tooltips-arrows-right:before,
.ui-tooltips-error.ui-tooltips-arrows-right:before,
.ui-tooltips-success.ui-tooltips-arrows-right:before {
  right: -7px;
}

.ui-tooltips.ui-tooltips-arrows-bottom:before,
.ui-tooltips-info.ui-tooltips-arrows-bottom:before,
.ui-tooltips-warning.ui-tooltips-arrows-bottom:before,
.ui-tooltips-error.ui-tooltips-arrows-bottom:before,
.ui-tooltips-success.ui-tooltips-arrows-bottom:before,
.ui-tooltips.ui-tooltips-arrows-bottom:after,
.ui-tooltips-info.ui-tooltips-arrows-bottom:after,
.ui-tooltips-warning.ui-tooltips-arrows-bottom:after,
.ui-tooltips-error.ui-tooltips-arrows-bottom:after,
.ui-tooltips-success.ui-tooltips-arrows-bottom:after {
  bottom: -5px;
  left: 50%;
  margin-left: -6px;
}

.ui-tooltips.ui-tooltips-arrows-bottom:before,
.ui-tooltips-info.ui-tooltips-arrows-bottom:before,
.ui-tooltips-warning.ui-tooltips-arrows-bottom:before,
.ui-tooltips-error.ui-tooltips-arrows-bottom:before,
.ui-tooltips-success.ui-tooltips-arrows-bottom:before {
  bottom: -7px;
}

.ui-tooltips.ui-tooltips-arrows-left:before,
.ui-tooltips-info.ui-tooltips-arrows-left:before,
.ui-tooltips-warning.ui-tooltips-arrows-left:before,
.ui-tooltips-error.ui-tooltips-arrows-left:before,
.ui-tooltips-success.ui-tooltips-arrows-left:before,
.ui-tooltips.ui-tooltips-arrows-left:after,
.ui-tooltips-info.ui-tooltips-arrows-left:after,
.ui-tooltips-warning.ui-tooltips-arrows-left:after,
.ui-tooltips-error.ui-tooltips-arrows-left:after,
.ui-tooltips-success.ui-tooltips-arrows-left:after {
  top: 50%;
  left: -4px;
  margin-top: -6px;
}

.ui-tooltips.ui-tooltips-arrows-left:before,
.ui-tooltips-info.ui-tooltips-arrows-left:before,
.ui-tooltips-warning.ui-tooltips-arrows-left:before,
.ui-tooltips-error.ui-tooltips-arrows-left:before,
.ui-tooltips-success.ui-tooltips-arrows-left:before {
  left: -6px;
}

.ui-tooltips .close,
.ui-tooltips-info .close,
.ui-tooltips-warning .close,
.ui-tooltips-error .close,
.ui-tooltips-success .close,
.ui-tooltips .close:hover,
.ui-tooltips-info .close:hover,
.ui-tooltips-warning .close:hover,
.ui-tooltips-error .close:hover,
.ui-tooltips-success .close:hover,
.ui-tooltips .close:active,
.ui-tooltips-info .close:active,
.ui-tooltips-warning .close:active,
.ui-tooltips-error .close:active,
.ui-tooltips-success .close:active {
  position: absolute;
  top: 5px;
  right: 5px;
  font: 13px/8px Arial;
  color: #a6a5a5;
  text-decoration: none;
}

.ui-tooltips {
  color: #333;
  border-color: #dbdada;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
}

.ui-tooltips:before {
  color: #dbdada;
}

.ui-tooltips:after {
  color: #fff;
}

.ui-tooltips.tooltips-arrows-top,
.ui-tooltips:before {
  text-shadow: 0 -1px 2px rgba(0,0,0,0.1);
}

.ui-tooltips.tooltips-arrows-right:before {
  text-shadow: 1px 0 3px rgba(0,0,0,0.1);
}

.ui-tooltips.tooltips-arrows-bottom:before {
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.ui-tooltips.tooltips-arrows-left:before {
  text-shadow: -1px 0 3px rgba(0,0,0,0.1);
}

.ui-tooltips-info {
  background-color: #dff1f8;
  border-color: #b4e1f3;
}

.ui-tooltips-info:before {
  color: #b4e1f3;
}

.ui-tooltips-info:after {
  color: #dff1f8;
}

.ui-tooltips-warning {
  background-color: #ffffd7;
  border-color: #fc6;
}

.ui-tooltips-warning:before {
  color: #fc6;
}

.ui-tooltips-warning:after {
  color: #ffffd7;
}

.ui-tooltips-error {
  background-color: #f4e5e5;
  border-color: #ebced0;
}

.ui-tooltips-error:before {
  color: #ebced0;
}

.ui-tooltips-error:after {
  color: #f4e5e5;
}

.ui-tooltips-success {
  background-color: #dff2d9;
  border-color: #c1e0af;
}

.ui-tooltips-success:before {
  color: #c1e0af;
}

.ui-tooltips-success:after {
  color: #dff2d9;
}

.ui-dropdown {
  position: relative;
  width: 70px;
  line-height: 29px;
  background: #fff;
  text-indent: 20px;
  font-size: 14px;
  color: #272525;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-dropdown.z-open {
  z-index: 10;
}

.ui-dropdown.z-open .ui-dropdown-curr {
  border-color: #a2a1a1;
}

.ui-dropdown.z-open .ui-dropdown-list {
  visibility: visible;
}

.ui-dropdown.z-disabled {
  cursor: not-allowed;
  background-color: #e2e2e2;
}

.ui-dropdown.z-disabled .ui-dropdown-curr {
  border-color: #c3c3c3;
  color: #aeaeae;
}

.ui-dropdown.z-disabled .ui-dropdown-curr:after {
  border-top-color: #ababab;
}

.ui-dropdown-curr {
  position: relative;
  display: block;
  border: 1px solid #7f7e80;
  padding: 4px 0;
  font-weight: normal;
}

.ui-dropdown-curr:after {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  content: '';
  border-width: 5px;
  border-color: #272525 transparent transparent;
  border-style: solid;
  width: 0;
  height: 0;
  overflow: hidden;
}

.ui-dropdown-list {
  position: absolute;
  z-index: 101;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #a2a1a1;
  max-height: 302px;
  overflow: auto;
  visibility: hidden;
}

.ui-dropdown-list li {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e0;
}

.ui-dropdown-list li:hover {
  color: #fff;
  background-color: #7f7f7f;
}

.ui-dropdown-list li.selected,
.ui-dropdown-list li:active {
  color: #fff;
  background-color: #f10280;
}

.ui-dropdown-list::-webkit-scrollbar {
  width: 3px;
  margin-left: 10px;
}

.ui-dropdown-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #dbd9d9;
}

.ui-modal {
  position: fixed;
  z-index: 1001;
  padding: 5px;
  background: rgba(255,255,255,0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ui-modal .ui-modal-close {
  position: absolute;
  z-index: 10;
  top: 13px;
  right: 15px;
  font: 22px/1 tahoma;
  color: #b8b8b8;
}

.ui-modal .ui-modal-close:hover {
  text-decoration: none;
}

:root .ui-modal {
  -webkit-filter: none;
  filter: none;
}

.ui-modal-confirm {
  font-size: 14px;
  text-align: center;
  position: relative;
  background-color: #fff;
  width: 300px;
  padding: 35px 40px;
}

.ui-modal-confirm .btn-wrap {
  margin-top: 25px;
}

.ui-modal-confirm .btn-wrap button,
.ui-modal-confirm .btn-wrap a {
  margin: 0 8px;
}

.ui-modal-confirm .title {
  line-height: 48px;
}

.ui-modal-confirm .title .iconfont {
  vertical-align: middle;
  margin-right: 5px;
}

.ani-modal-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.ui-modal-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 12px/1.5 Helvetica, Arial, sans-serif;
  color: #333;
}
