// @use : abroad common
// @editor : mss.huang
// @last modified time : 2014.6.4
// @verson : 1.0

@import 'reset.styl'
@import 'mixins'
@import 'partials'

*
    &
    &:before
    &:after
        box-sizing border-box

body
    font 12px/1.5 Helvetica,Arial,sans-serif
    color #333
    min-width 1000px
    overflow-x hidden

a
    color #e8297c
    text-decoration none
    &:hover
        text-decoration underline

.g-wrap
    width 960px
    margin-left auto
    margin-right auto