/* ============================================================================
   Forms
   @require Button '/framework/components/button.styl'
   ========================================================================== */


/**
 * Input Base
 */

// variables
$input-spacing ?= 6px 8px
$input-width ?= 270px
$input-height ?= 34px

$input-font-color ?= #999
$input-font-size ?= 14px

$input-border-color ?= #bfbdbf
$input-hover-border-color ?= #7f7e80
$input-focus-border-color ?= $input-hover-border-color

$input-border-radius ?= 3px

$input-base
    padding $input-spacing
    width $input-width
    height $input-height
    color $input-font-color
    font-size $input-font-size
    border 1px solid $input-border-color
    border-radius $input-border-radius
    box-shadow inset 0 1px 2px $input-box-shadow

    &:hover
    &:focus
        border-color $input-hover-border-color


/**
 * Placeholder
 */

// variables
$placeholder-font-color ?= #999

.ui-ipt
    &::-moz-placeholder
        color $placeholder-font-color
        opacity 1
    &:-ms-input-placeholder
        color $placeholder-font-color
    &::-webkit-input-placeholder
        color $placeholder-font-color



/**
 * Input Text
 */

.ui-ipt
    @extend $input-base


/**
 * Input [disabled] && [readonly]
 */

// variables

$input-disabled-border-color ?= #d9d9d9
$input-disabled-background-color ?= #f2f2f2

.ui-ipt[disabled]
.ui-ipt[readonly]
    &
    &:hover
    &:focus
        border 1px solid $input-disabled-border-color
        background-color $input-disabled-background-color



/**
 * Input Group with button
 * <div class="ui-ipt-group">
 *     <input class="ui-ipt J-ui-ipt">
 *     <button class="ui-btn-medium ui-btn-secondary" data-touch>
 *         <span class="txt">OK</span>
 *         <span class="ui-btn-loading"></span>
 *     </button>
 * </div>
 */

// variables
$input-group-spacing ?= 5px 56px 5px 10px
$input-group-font-size ?= 12px

.ui-ipt-group
    position relative
    width 200px

    .ui-ipt
    .ui-btn-secondary
        display inline-block

    .ui-ipt
        padding $input-group-spacing
        width 200px
        height 30px
        font-size $input-group-font-size

    .ui-btn-secondary
        position absolute
        top 0
        right 0
        padding 0
        min-width 46px
        width 46px
        min-height 30px
        height 30px

    // disabled
    &.z-loading
    &.z-disabled
        .ui-ipt
            @extend .ui-ipt[disabled]
        .ui-btn-secondary
            @extend .ui-btn-disabled

    // loading
    &.z-loading
        .ui-btn-secondary
            display inline-block
            .ui-btn-loading
                @extend .ui-btn-medium.ui-btn-disabled .ui-btn-loading
                display inline-block
                animation loadingShow .6s


/**
 * 表单验证
 * X: warning, error, success
 * <div class="ui-form-item J-ui-form-item ui-form-item-X">
 *     <label for="test">label text</label>
 *     <div class="ui-form-control">
 *         <input id="test" class="ui-ipt">
 *     </div>
 * </div>
 */

// error

// variables

$form-error-input-border-color ?= #f1585e
.ui-form-item
    // error
    &.z-error

        .ui-form-control
            position relative

        .ui-ipt
            border 1px solid $form-error-input-border-color
        .ui-tooltips-warning
            display block
            left 0
            width 270px
            top -37px
            &.ui-tooltips-arrows-bottom
                &:before
                &:after
                    left 18px


    // success
    &.z-success
        .ui-form-control
            position relative

        .ui-ipt
            padding-right 38px

        .iconfont
            position absolute
            top 9px
            left 240px
            color #49b05c