// @use : abroad ui
// @editor : mss.huang
// @last modified time : 2014.6.5
// @verson : 1.0

@import 'buttons'
@import 'forms'
@import 'likes'
@import 'tips'
@import 'tooltips'
@import 'dropdown'
@import 'pops'

*
    &
    &:before
    &:after
        box-sizing border-box

body
    font 12px/1.5 Helvetica,Arial,sans-serif
    color #333