// @use : abroad my modal
// @editor : mss.huang
// @last modified time : 2014.6.10
// @verson : 1.0

/* ============================================================================
   Forms
   @require Button '/framework/components/button.styl'
   ========================================================================== */

.ui-modal
    position fixed
    z-index 1001
    top 30%
    left 50%
    width 310px
    padding 5px
    margin-left -155px
    background rgba(255,255,255,.5)
    filter s('progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff)')
    opacity 0
    visibility hidden
    transform translateY(-20px)
    transition .5s
:root .ui-modal
    filter none

.ui-modal-inner
    position relative
    background-color #fff
    padding 35px 40px
    .close
        position absolute
        top 8px
        right 10px
        font 22px/1 tahoma
        color #b8b8b8
        &:hover
            text-decoration none

.ui-modal-confirm
    font-size 14px
    text-align center
    .btn-wrap
        margin-top 25px
        button
        a
            margin 0 8px
    .title
        line-height 48px
        .iconfont
            vertical-align middle
            margin-right 5px

// animation pop fade
.ani-modal-in
    opacity 1
    visibility visible
    transform translateY(0)

.ui-modal-mask
    display none
    position fixed
    left 0
    top 0
    z-index 1000
    background-color #000
    opacity .5
    filter s('alpha(opacity=50)')
    width 100%
    height 100%
