/* ============================================================================
   Tabs
   ========================================================================== */

.ui-tab

    &-trigger
        cursor pointer

    &-bd-cnt
        display none

        &.z-active
            display block
