/* ==========================================================================
   Clearfix
   ========================================================================== */

/**
 * 1. `table` 产生[匿名框(anonymous boxes)](//www.w3.org/TR/CSS2/tables.html#anonymous-boxes)，匿名框中的 `table-cell` 创建新的 BFC；`:before` 为处理 `margin-top` 重叠。
 * 2. 处理 Opera 的 bug
 */

clearfix()
    &:before
    &:after
        display table // 1
        content ' ' // 2

    &:after
        clear both