/* ==========================================================================
   单行文字截断
   ========================================================================== */

/**
 * 需要设置 `display: block;` 或 `display: inline-block;` 并设置宽度
 */

text-overflow()
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
